* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    background-color: #6f4c3e;
    transition: background-color 0.3s, color 0.3s;
  }

  body.dark-theme {
  background-color: #42332d;
}
 
 header {
    color: white;
    text-align: center;
    padding: 35px;
 }
 
 nav ul {
    list-style-type: none;
 }
 
 nav ul li {
    display: inline;
    margin-right: 20px;
 }
 
 nav a {
    color: white;
    text-decoration: none;
 }
 
 .hero {
    background-image: url(../images/coffee-background.jpg);
    background-size: cover;
    color: white;
    padding: 278px;
    text-align: center;
    font-weight: bold;
    font-size: large;
 }
 
 .features {
    display: flex;
    justify-content: center;
    padding: 20px;
    letter-spacing: 0.35px;
 }
 
 .feature-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: calc(30% - 30px);
    text-align: center;
 }

 footer {
      text-align :center ;
      padding :10px ;
      background-color :#362c28 ;
      color :white ;
 }

.specials {
   align-self: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 1000px;
  }

  #theme-toggle {
   background-color: #3b378f21;
 }
 
.menu li {
  position: relative;  
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #00000060;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.9);
}

.dropdown-menu li {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  border: 0.5px solid black;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: rgb(48, 40, 40);
}
